body {
  text-align: center;
  font-family: sans-serif;
}

.game-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.image-box {
  position: relative;
}

img {
  width: 300px;
  cursor: pointer;
}

.marker {
  position: absolute;
  border: 3px solid red;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  pointer-events: none;
}

/* 시작 화면 배경 */
#start-screen {
  height: 100vh;
  background: url('img1.jpg') no-repeat center center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}
